# Node / Frontend
node_modules/
dist/
dist-ssr/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
